body {
    margin: 0;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background: rgb(210,169,163);
    background: linear-gradient(90deg, rgba(210,169,163,1) 0%, rgba(255,255,255,1) 50%, rgba(211,180,177,1) 100%);

    font-family: Arial;
}

.header {
    background: #d3b4b1;
    color: white;
    padding: 20px 10px;
    border-bottom: 2px solid white;
}

.header:hover {
    background-color: #d2a9a3;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo {
    letter-spacing: 10px;
    font-size: 35px;
}

.menu-icon {
    display: none;
    padding: 0 10px;
}

.logo-nav-container {  /* contenedor del Logo y el apartado de navegación; Cabecera */
    display: flex; /* Consigue que los elementos sean flexibles */
    justify-content: space-between; /* los elementos (logo y ul) estarán repartidos a lo ancho de la pantalla */
    align-items: center;  /* centrados */
    padding: 10px; /* tamaño de la caja */
    flex-wrap: wrap;  /* cambiar de línea cuando no haya espacio */

    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

    .navigation ul {
        text-shadow: 1px 1px 2px black;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navigation ul li {
        display: inline-block;  /* Elementos dispuestos horizontalmente */
    }

    .navigation ul li a {
        display: block;
        padding: 0.4rem 1rem;
        transition: all 0.2s linear;  /* animación en los botones */
        border-radius: 5px;
        font-size: 22px;
        margin: 0 4px;
    }


    .navigation ul li a:hover {
        background: #645757;
    }

    .dropdown-content-menu {
        z-index: 1;
        display: none;
        position: absolute;
        max-width: 400px;
    }

    .dropdown-content-menu li {
        background-color: #d2a9a3;
        border-radius: 5px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
    }

    .dropbtn-menu:hover .dropdown-content-menu {
        display: block;
    }


.container1 {
    background-color: #62528c;
    border-radius: 10px;
    padding: 10px 36px;
    border: 3px solid #ffffff;

    width: 90%;
    max-width: 1200px;
    margin: 20px auto;

    color: black;
    font-size: 1.2rem;
    line-height: 1.6em;
    letter-spacing: 0.5px;
}

.container2 {
    background-color: white;
    border-radius: 10px;
    padding: 10px 36px;
    border: 2px solid black;

    width: 90%;
    max-width: 1200px;
    margin: 20px auto;

    color: black;
    font-size: 1.2rem;
    line-height: 1.6em;
    letter-spacing: 0.5px;
}

.titulo-imagen {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: white;
    padding: 10px 10px;
    font-size: 45px;
    font-family: Georgia;
    text-shadow: 3px 2px 0px #665399;
}

.question {
    text-shadow: 1px 1px 0px #665399;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.imagen {
    margin-bottom: 30px;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.dropbtn {

    color: white;
    font-size: 18px;
    line-height: 1.6em;
    text-decoration: none;

    background-color: #806bb8;
    text-shadow: 1px 1px 1px black;
    margin: 20px 0 20px 20px;
    padding: 3px 8px;
    border-radius: 8px;
    transition: all 0.1s linear;
}
.dropbtn:hover {
    background-color: #9780d7;
}

.dropdown-content {
    display: block;
}

p {
    font-size: 18px;
}

.footer {
    border-top: 3px solid white;
    background-color: #62528c;
    color: white;
    padding: 20px 20px;
    text-align: center;
}