# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Álvaro Escribano\PhpstormProjects\proyectttttttttttttttttttttt\Sprit1\src(nuestro programa)\api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
