.estructura-div{
   
    background-size: cover;
    font-family: Arial;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
   

    /*border-radius: 30%;*/
}

.login-box{
    margin-top: 5em;
    width: 100%;
    max-width: 100%;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 70px 30px;

}

.enviar {
    width: 100px;
    margin: 0 auto;
}

.links {
    text-align: center;
}
.links :hover{
    text-decoration: underline;
}
.login-box h2 {
    margin: 0;
    margin-top: 20px;
    padding: 0 0 26px;
    text-align: center;
    font-size: 22px;
}

.login-box h3 {
    text-align: center;
    margin: -5px 0 40px 0;
}

.login-box label{
    margin: 0;
    padding: 3vh;/*quitar espaciados*/
    font-weight: bold;
    display: block;
}
.login-box input{
    width: 80%;/*que se vea toda la linea ocupada*/
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{

    border: none;
    border-bottom: 1px solid indianred;
    background:  transparent;/*hacer la casilla transparente*/
    outline: none;
    font-family: Arial;
    height: 40px;
    color: black;
    font-size: 16px;
    
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    background:  indianred;/*hacer la casilla transparente*/
    color: white;
    font-size: 20px;
    font-family: "Arial";
    border-radius: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{

    border: none;
    border-bottom: 1px solid indianred;
    background:  transparent;/*hacer la casilla transparente*/
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;

}

.login-box input :hover{
    border: none;
    outline: none;
    height: 40px;
    background:  black;/*hacer la casilla transparente*/
    color: indianred;
    font-size: 18px;
    border-radius: 20px;
   
}
.login-box a{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: slategray;
}
.login-box a:hover {
    color: black;
    text-decoration: underline;
}



@media only screen and (max-width: 800px){


    .estructura-body{
        padding-bottom: 275px;
        overflow: hidden;
           
    }
    .login-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 0%;
        border: none;
        margin-top: 6vh;
    }
    .login-box h1 {
        font-size: 20px;
    }
    .login-box label{
        text-align: center;
    }
    .cuadro-grande {
        width: 100%;
    }
    .fondo-pantalla-olv h3{
        font-size: 14px;
    }
    .fondo-pantalla-olv h2{
        font-size: 24px;
    }
    .login-box input[type="submit"]{
        height: 35px;
        background:  indianred;/*hacer la casilla transparente*/
        color: white;
        font-size: 17px;
        font-family: "Arial";
        border-radius: 20px;
    }
}
@media only screen and (min-width: 800px) {

    .login-box input {
        align-items: center;
        justify-content: center;
        max-width: 80%;
    }

    .fondo-pantalla-olv h2 {
        font-size: 38px;
    }

    .links text {
        font-size: 5px;
    }

    .bloque {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .login-box a {
        font-size: 20px;
    }

    .enviar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-box label {
        font-size: 20px;
        text-align: center;
    }

}